@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&display=swap');

.card__container{
    align-self: normal;
    position: relative;
    display: flex;
    width: 25%;
    min-height: 25%;
    padding: 25px;
    margin-top: 10px;
}

.inner__card__container{
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(248, 243, 227);
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.card__title{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: rgb(31, 9, 7);
}

.card__description{
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

.inner__card__container:hover{
    transform: scale(1,1);
    box-shadow: 0px 0px 25px 0px;
    cursor: pointer;
}

@media screen and (max-width:724px){
    .card__container{
        width: 65%;
        height: 25%;
        align-self: center;
    }

    .inner__card__container{
    }
}

@media screen and (max-width:500px){
    .card__container{
        width: 50%;
        height: 25%;
        align-self: center;
    }

    .inner__card__container{
    }
}